<!-- MENU -->
<header>
  <nav class="navbar navbar-expand-sm navbar-light">
    <div class="container container-lg">
      <a class="navbar-brand navbar__log-in" href="/" data-admin="<%= user ? 'true' : 'false' %>" data-toggle="modal" data-target="#log-in-modal">
        <i class='uil uil-user'>
        </i> <%= user ? user.name : 'Log In' %>
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a href="#about" class="nav-link"><span data-hover="About">About</span></a>
          </li>
          <li class="nav-item">
            <a href="#project" class="nav-link"><span data-hover="Projects">Projects</span></a>
          </li>
          <li class="nav-item">
            <a href="#resume" class="nav-link"><span data-hover="Resume">Resume</span></a>
          </li>
          <li class="nav-item">
            <a href="#contact" class="nav-link"><span data-hover="Contact">Contact</span></a>
          </li>
        </ul>

        <div>
          <div class="color-mode d-lg-flex justify-content-center align-items-center">
            <i class="color-mode-icon"></i>
            Color mode
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>

<!-- PROJECTS -->
<main class="text-center">
  <section class="project py-3" id="project">
    <div class="container container-lg">
      <% include ./partials/messages %>
      <div class="row">
        <div class="col-12 mx-auto pb-3">
          <div class="col-6 mx-auto">
            <h2>Things I have designed for digital media agencies</h2>
          </div>
        </div>

        <% if(user) {%>
          <div class="col-12 col-sm-6 col-lg-3">
          <div class="canvas-container border">
            <ul class="canvas-toolbar__list">
              <li class="canvas-toolbar__list-item" draggable="true" data-item-properties='{
                "type": "image",
                "width": 130,
                "height": 130,
                "src": "images/tool-icons/Door.png"
                }'>
                <img src="images/tool-icons/Door.png" height="130" width="130" />
              </li>
              <li class="canvas-toolbar__list-item"draggable="true" data-item-properties='{
                "type": "image",
                "width": 130,
                "height": 130,
                "src": "images/tool-icons/Event.png"
                }'>
                <img src="images/tool-icons/Event.png" height="130" width="130" />
              </li>
              <li class="canvas-toolbar__list-item"draggable="true" data-item-properties='{
                "type": "image",
                "width": 130,
                "height": 130,
                "src": "images/tool-icons/Floor.png"
                }'>
                <img src="images/tool-icons/Floor.png" height="130" width="130" />
              </li>
              <li class="canvas-toolbar__list-item"draggable="true" data-item-properties='{
                "type": "image",
                "width": 130,
                "height": 130,
                "src": "images/tool-icons/Object.png"
                }'>
                <img src="images/tool-icons/Object.png" height="130" width="130" />
              </li>
              <li class="canvas-toolbar__list-item"draggable="true" data-item-properties='{
                "type": "image",
                "width": 130,
                "height": 130,
                "src": "images/tool-icons/RegularEvent.png"
                }'>
                <img src="images/tool-icons/RegularEvent.png" height="130" width="130" />
              </li>
              <li class="canvas-toolbar__list-item"draggable="true" data-item-properties='{
                "type": "image",
                "width": 130,
                "height": 130,
                "src": "images/tool-icons/Stairs.png"
                }'>
                <img src="images/tool-icons/Stairs.png" height="130" width="130" />
              </li>
              <li class="canvas-toolbar__list-item"draggable="true" data-item-properties='{
                "type": "image",
                "width": 130,
                "height": 130,
                "src": "images/tool-icons/Wall.png"
                }'>
                <img src="images/tool-icons/Wall.png" height="130" width="130" />
              </li>
              <li class="canvas-toolbar__list-item" draggable="true" data-item-properties='{
                "originX": "left",
                "originY": "top",
                "width": 15,
                "height": 130,
                 "centeredRotation": false,
                "fill": "rgba(0,0,0,1)",
                "transparentCorners": false
              }'>
              <img src="images/tool-icons/Line.png" height="130" width="130" />
            </li>
            </ul>
          </div>
        </div>
        <% } %>

        <div class="col-12 col-sm-6 col-lg-9 <%= user ? '' : 'canvas-wrapper__centered' %>">
          <div class="canvas-wrapper border">
            <canvas id="map" class="canvas" width="1050" height="702"></canvas>
          </div>
        </div>

      </div>
    </div>
  </section>
  <section>
    <div class="container container-lg">
      <div class="row">
        <div class="col-12 d-flex justify-content-end">
          <%if (user) {%><button type="button" class="save-draw btn btn-primary">Save</button><% } %>
        </div>
      </div>
    </div>
  </section>
  <!--  LOG-IN MODAL -->
  <div class="login-wrapper d-none">
    <div class="login-page">
      <div class="form">
        <form class="register-form">
          <input type="text" placeholder="name" />
          <input type="password" placeholder="password" />
          <input type="text" placeholder="email address" />
          <button>create</button>
          <p class="message">Already registered? <a href="#">Sign In</a></p>
        </form>
        <form class="login-form">
          <input type="text" placeholder="username" />
          <input type="password" placeholder="password" />
          <button>login</button>
          <p class="message">Not registered? <a href="#">Create an account</a></p>
        </form>
      </div>
    </div>
  </div>
</main>

<!-- FOOTER -->
<footer class="footer py-5">
  <div class="container container-lg">
    <div class="row">

      <div class="col-lg-12 col-12">
        <p class="copyright-text text-center">Copyright &copy; 2019 Company Name . All rights reserved</p>
        <p class="copyright-text text-center">Designed by <a rel="nofollow"
            href="https://www.facebook.com/tooplate">Tooplate</a></p>
      </div>

    </div>
  </div>
</footer>

<!-- The Modal -->
<div class="mt-5 modal fade" id="log-in-modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title"><%= user ? 'Logout' : 'Login' %></h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <% if(!user) {%>
          <form action="/api/user/login" method="POST">
            <div class="form-group">
              <label for="email">Email</label>
              <input
                      type="email"
                      id="email"
                      name="email"
                      class="form-control"
                      placeholder="Enter Email"
              />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input
                      type="password"
                      id="password"
                      name="password"
                      class="form-control"
                      placeholder="Enter Password"
              />
            </div>
            <button type="submit" class="btn btn-primary btn-block">Login</button>
          </form>
          <p class="lead mt-4">
            No Account? <a href="/registration">Register</a>
          </p>
          <% } %>
          <% if(user) {%>
            <div class="text-center">
              <a href="/api/user/logout" class="btn btn-secondary">Logout</a>
            </div>
          <% } %>
      </div>
    </div>
  </div>
</div>
